footer{

    background-color: #404040;
    padding: 20px;
    color: white;

    .footer_title{
        font-family: shrikhand, cursive;
        font-size: 18px;
        margin: 0 0 20px 0;
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    .footer_container{
        @media screen and(min-width: 768px){
            display: flex;
            justify-content: space-between;
            align-items: center;
        } 
    }

    i{
        color: white;
        width: 20px;
        height: 15px;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        width: 15px;
        height: 15px;
    }

    .footer_bloc{
        margin: 5px 0;
    }

    &--contact{
        cursor: pointer;
    }
}

