@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,700;1,900&family=Shrikhand&display=swap");
header {
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
  padding-bottom: 5%;
}
header h1 {
  font-family: shrikhand, cursive;
  border-bottom: 2px solid transparent;
  padding: 10px;
  box-shadow: 0 2px 5px #bfbfbf;
  margin: 0;
  position: relative;
  top: 2%;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 50px;
}
header .localisation_icone {
  margin-right: 4%;
}
header .localisation_icone i {
  font-size: 16px;
}
header a {
  text-decoration: none;
}
header .reservez {
  width: 80%;
  margin: auto;
  padding: 30px 0 0 0;
}
header .reservez p {
  font-size: 18px;
  font-weight: 300;
}

/*-------------------------------------------------------------------------------------*/
/*                                              pages-1-2-3-4                          */
/*-------------------------------------------------------------------------------------*/
.header_container {
  display: flex;
  align-items: center;
  margin: 0 0 10px 8px;
}
.header_title {
  margin: 16px auto;
  box-shadow: none;
  padding: 0;
  font-family: shrikhand, cursive;
  font-size: 30px;
}
.header_image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

i {
  color: black;
  font-size: 20px;
}

h3 {
  width: 100%;
}

footer {
  background-color: #404040;
  padding: 20px;
  color: white;
}
footer .footer_title {
  font-family: shrikhand, cursive;
  font-size: 18px;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  footer .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer i {
  color: white;
  width: 20px;
  height: 15px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 15px;
  height: 15px;
}
footer .footer_bloc {
  margin: 5px 0;
}
footer--contact {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: shrikhand, cursive;
  font-family: roboto, sans-serif;
  border: 1px solid #f2f2f2;
  max-width: 1500px;
  font-size: 16px;
}

main {
  background-color: #f2f2f2;
}

.button {
  border-radius: 30px;
  color: white;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  width: 200px;
  font-size: 16px;
  padding: 14px;
  margin: 35px auto;
  display: flex;
  justify-content: center;
}
.button:hover {
  border: 5px solid #9356dc;
  transition: 0.1s ease-in-out;
}

.card {
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  padding: 5px 0 5px 0;
  position: relative;
  bottom: 115px;
}
.card_menu {
  margin-bottom: 5%;
}
.card_menu--wrapper {
  position: relative;
  margin: 30px 20px 0 20px;
}
.card_menu--wrapper h2 {
  font-family: shrikhand, cursive;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .card_menu--wrapper h2 {
    margin: 0 45px;
  }
}
.card_menu--wrapper .fa-heart {
  font-size: 25px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.card_menu--wrapper .fas {
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}
.card_menu--wrapper .fas:hover {
  color: opacity 1;
}
.card_menu--meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .card_menu--meals {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .card_menu {
    margin: 0;
  }
}
.card_menu--category {
  width: 90%;
  margin: 0 12px 0 12px;
}
@media screen and (min-width: 768px) {
  .card_menu--category {
    width: 80%;
  }
}
.card_menu--category--title {
  font-size: 20px;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  font-weight: 300;
  margin: 45px 0 5px 5px;
}
.card_menu--name {
  position: absolute;
  bottom: 40px;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .card_menu--name {
    margin: 2px 0 0 0;
  }
}
.card_menu--description {
  margin: 5px 0;
  width: 100%;
  font-weight: 300;
  position: absolute;
  bottom: 11px;
}
.card_menu--price {
  font-weight: 600;
  position: absolute;
  right: 10px;
}
.card_menu--text {
  box-shadow: 5px 5px 5px #b3b3b3;
  height: 75px;
  border-radius: 20px;
  margin: 20px 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
  position: relative;
}

.fonctionnement {
  padding-bottom: 10%;
  background-color: white;
}
.fonctionnement_title {
  margin: 50px 0 25px 25px;
}
.fonctionnement_container {
  display: flex;
  align-items: center;
  padding-left: 6%;
  height: 75px;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 30px auto;
  box-shadow: 0 5px 15px #bfbfbf;
  position: relative;
  cursor: pointer;
}
.fonctionnement_container:hover {
  background-color: #f1eafb;
}
.fonctionnement_number {
  font-size: 12px;
  width: 24px;
  height: 24px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: -15px;
}
.fonctionnement_icone i {
  font-size: 18px;
  width: 35px;
  height: 30px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fas:hover {
  color: #9356dc;
}
.fonctionnement h3 {
  margin: 10px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  #choix_restaurants h2 {
    text-align: center;
  }

  .fonctionnement {
    padding-bottom: 5%;
  }
  .fonctionnement .fonctionnement_fonction {
    display: flex;
    width: 100%;
  }
  .fonctionnement .fonctionnement_fonction .fonctionnement_div {
    margin: 2%;
    padding: 0;
  }
  .fonctionnement .fonctionnement_fonction .fonctionnement_div p {
    position: absolute;
    left: 45%;
    bottom: 50%;
  }
  .fonctionnement .fonctionnement_fonction .fonctionnement_div .fonctionnement_icone {
    padding: 10% 5% 10% 10%;
  }
}
* {
  margin: 0;
  padding: 0;
}

#choix_restaurants {
  padding-top: 5%;
  background-color: #f2f2f2;
  padding-bottom: 10%;
}
#choix_restaurants h2 {
  margin: 20px 0 20px 22px;
}
#choix_restaurants .choix_restaurants--container {
  margin: 0;
}
#choix_restaurants .choix_restaurants--photo {
  border-radius: 20px;
  box-shadow: 0 5px 15px #bfbfbf;
  background-color: white;
  margin: 0 20px 30px 20px;
  position: relative;
}
#choix_restaurants a {
  text-decoration: none;
  color: inherit;
}
#choix_restaurants .choix_restaurants--image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#choix_restaurants .choix_restaurants--paragraphe {
  color: #1c635f;
  width: 100px;
  height: 22px;
  text-align: center;
  padding: 4px;
  background-color: #99e2dd;
  margin: 0;
  position: absolute;
  top: 5%;
  right: 2%;
  border-radius: 2px;
}
#choix_restaurants .choix_restaurants--texte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#choix_restaurants i {
  font-size: 25px;
  position: absolute;
  right: 25px;
  bottom: 20px;
}
#choix_restaurants .fas {
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: linear 0.5s ease-in-out;
}
#choix_restaurants .fas:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #choix_restaurants .choix_restaurants_idees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #choix_restaurants .choix_restaurants_idees .choix_restaurants_photo {
    width: 330px;
  }
}

/*# sourceMappingURL=style.css.map */
