@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,500;1,700;1,900&family=Shrikhand&display=swap");
header {
  text-align: center;
  position: relative;
  background-color: #f2f2f2;
  padding-bottom: 5%;
}
header h1 {
  font-family: shrikhand, cursive;
  border-bottom: 2px solid transparent;
  padding: 10px;
  box-shadow: 0 2px 5px #bfbfbf;
  margin: 0;
  position: relative;
  top: 2%;
}
header .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 50px;
}
header .localisation_icone {
  margin-right: 4%;
}
header .localisation_icone i {
  font-size: 16px;
}
header a {
  text-decoration: none;
}
header .reservez {
  padding: 30px 0 0 0;
}
header .reservez h2 {
  width: 80%;
  margin: auto;
}
header .reservez p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}

/*-------------------------------------------------------------------------------------*/
/*                                              pages-1-2-3-4                          */
/*-------------------------------------------------------------------------------------*/
.header_container {
  display: flex;
  align-items: center;
  margin: 0 0 10px 8px;
}
.header_title {
  margin: 16px auto;
  box-shadow: none;
  padding: 0;
  font-family: shrikhand, cursive;
  font-size: 30px;
}
.header_image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

i {
  color: black;
  font-size: 20px;
}

h3 {
  width: 100%;
}

footer {
  background-color: #404040;
  padding: 20px;
  color: white;
}
footer .footer_title {
  font-family: shrikhand, cursive;
  font-size: 18px;
  margin: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  footer .footer_title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  footer .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
footer i {
  color: white;
  width: 20px;
  height: 15px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 15px;
  height: 15px;
}
footer .footer_bloc {
  margin: 5px 0;
}
footer--contact {
  cursor: pointer;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: shrikhand, cursive;
  font-family: roboto, sans-serif;
  border: 1px solid #f2f2f2;
  max-width: 1500px;
  font-size: 16px;
}

main {
  background-color: #f2f2f2;
}

.button {
  border-radius: 30px;
  color: white;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 0 4px 4px lightgray;
  border: none;
  width: 200px;
  font-size: 16px;
  padding: 14px;
  margin: 35px auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 0 4px 4px grey;
}

.card {
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  padding: 5px 0 5px 0;
  position: relative;
  bottom: 115px;
}
.card_menu {
  margin-bottom: 5%;
}
.card_menu--wrapper {
  position: relative;
  margin: 30px 20px 0 20px;
}
.card_menu--wrapper h2 {
  font-family: shrikhand, cursive;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .card_menu--wrapper h2 {
    margin: 0 45px;
  }
}
.card_menu--wrapper i {
  font-size: 25px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 10px;
}
.card_menu--wrapper .fas {
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 1.5s;
}
.card_menu--wrapper .fas:hover {
  opacity: 1;
}
.card_menu--meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .card_menu--meals {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .card_menu {
    margin: 0;
  }
}
.card_menu--category {
  width: 90%;
  margin: 0 12px 0 12px;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .card_menu--category {
    width: 80%;
  }
}
.card_menu--category:nth-child(1) {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: slide;
  animation-fill-mode: forwards;
}
.card_menu--category:nth-child(2) {
  animation-delay: 1s;
  animation-duration: 2s;
  animation-name: slide;
  animation-fill-mode: forwards;
}
.card_menu--category:nth-child(3) {
  animation-delay: 2s;
  animation-duration: 2s;
  animation-name: slide;
  animation-fill-mode: forwards;
}
.card_menu--category--title {
  font-size: 20px;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  font-weight: 300;
  margin: 45px 0 5px 5px;
}
.card_menu--content {
  text-overflow: ellipsis;
  overflow: hidden;
}
.card_menu--name {
  margin: 0;
  padding-top: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .card_menu--name {
    margin: 2px 0 0 0;
  }
}
.card_menu--description {
  width: 100%;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_menu--price {
  font-weight: 600;
  padding-right: 10px;
}
.card_menu--text {
  box-shadow: 5px 5px 5px #b3b3b3;
  height: 75px;
  border-radius: 20px;
  margin: 20px 0;
  background-color: white;
  position: relative;
}
.card_menu--text .card_menu--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 10px;
}
.card_menu--text .card_menu--bloc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  transition: width 2s;
}
.card_menu--text:hover > .card_menu--bloc {
  width: calc(100% - 75px);
}
.card_menu--text:hover > .card_menu--iconecheck {
  opacity: 1;
  width: 75px;
}
.card_menu--text:hover > .card_menu--iconecheck > .fa-check-circle {
  transform: rotate(360deg);
}
.card_menu--text .card_menu--iconecheck {
  width: 5px;
  height: 75px;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: width 2s;
}
.card_menu--text .fa-check-circle {
  font-size: 24px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 2s;
}
@keyframes slide {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.loader {
  opacity: 1;
  z-index: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade_out 3s forwards;
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.loader_objet {
  border: 16px solid #99e2d0;
  border-top: 16px solid #9356dc;
  border-bottom: 16px solid #ff79da;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fonctionnement {
  padding-bottom: 10%;
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding-bottom: 5%;
  }
}
.fonctionnement_title {
  margin: 50px 0 25px 25px;
}
@media screen and (min-width: 768px) {
  .fonctionnement_title {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement_title {
    margin-left: 42%;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement_wrapper {
    width: 90%;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement_wrapper {
    display: flex;
    width: 100%;
  }
}
.fonctionnement_container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 75px;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 30px auto;
  box-shadow: 0 5px 15px #bfbfbf;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .fonctionnement_container {
    margin: 10px;
    padding: 0;
  }
}
.fonctionnement_container:hover {
  background-color: #f1eafb;
}
.fonctionnement_number {
  font-size: 12px;
  width: 24px;
  height: 24px;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #9356dc;
  color: white;
  position: absolute;
  left: -15px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement_number {
    position: absolute;
    left: 45%;
    bottom: 85%;
  }
}
.fonctionnement_icone i {
  font-size: 18px;
  width: 35px;
  height: 30px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .fonctionnement_icone i {
    padding: 10px 5px 10px 10px;
  }
}
.fonctionnement .fas:hover {
  color: #9356dc;
}
.fonctionnement h3 {
  margin: 10px;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

#choix_restaurants {
  padding-top: 5%;
  background-color: #f2f2f2;
  padding-bottom: 10%;
}
#choix_restaurants h2 {
  margin: 20px 0 20px 5%;
}
@media screen and (min-width: 768px) {
  #choix_restaurants h2 {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1024px) {
  #choix_restaurants h2 {
    margin-left: 45%;
  }
}
#choix_restaurants .choix_restaurants--photo {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 5px 15px #bfbfbf;
  background-color: white;
  margin: 10px auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  #choix_restaurants .choix_restaurants--photo {
    width: 340px;
    margin: 15px 20px auto;
  }
}
@media screen and (min-width: 1024px) {
  #choix_restaurants .choix_restaurants--photo {
    width: 470px;
    margin: 30px 20px auto;
  }
}
#choix_restaurants .choix_restaurants--photo:hover {
  transform: scale(1.03);
  box-shadow: 15px 15px 15px lightgray;
}
#choix_restaurants a {
  text-decoration: none;
  color: inherit;
}
#choix_restaurants .choix_restaurants--image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#choix_restaurants .choix_restaurants--paragraphe {
  color: #1c635f;
  width: 100px;
  height: 22px;
  text-align: center;
  padding: 4px;
  background-color: #99e2dd;
  margin: 0;
  position: absolute;
  top: 5%;
  right: 2%;
  border-radius: 2px;
}
#choix_restaurants .choix_restaurants--texte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#choix_restaurants i {
  font-size: 25px;
  position: absolute;
  right: 25px;
  bottom: 20px;
}
#choix_restaurants .fas {
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 1.5s;
}
#choix_restaurants .fas:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  #choix_restaurants .choix_restaurants--ideas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #choix_restaurants .choix_restaurants--ideas .choix_restaurants_photo {
    width: 330px;
  }
}

/*# sourceMappingURL=style.css.map */
