.button {
    padding: 15px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    border: none;
    width: 200px;
    font-size: 18px;
    padding: 14px;
    margin: auto;
    display: flex;
    justify-content: center;

    &:hover{
        border: 5px solid #9356dc;
        transition: 0.1s ease-in-out;
    }
}
