.button {
    border-radius: 30px;
    color: white;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    box-shadow: 0 4px 4px lightgray;
    border: none;
    width: 200px;
    font-size: 16px;
    padding: 14px;
    margin:  35px auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &:hover{
        opacity: 0.9;
        box-shadow: 0 4px 4px grey;
    }
}
