.loader{
    opacity: 1;
    z-index: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation : fade_out 3s forwards;
}

  @keyframes fade_out {
    0% {
      opacity : 1;
    }

    90% {
      opacity : 1;
    }
    
    99% {
        opacity : 0;
        transform : scale(1.0);
      }
  
    100% {
      opacity : 0;
      transform : scale(0.0);
    }
  }

.loader_objet {
  border-right: 20px solid #99e2d0;
  border-left: 20px solid #f2f2f2;
  border-top: 20px solid #9356dc;
  border-bottom: 20px solid #ff79da;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: relative;
  animation: spin 2s infinite linear ;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }