.fonctionnement{
    padding-bottom: 10%;
    background-color: white;

    &_title{
        margin: 50px 0 25px 25px;
    }
    
    &_container{
        display: flex;
        align-items: center;
        padding-left: 6%;
        height: 75px;
        width: 80%;
        background-color: #f2f2f2;
        border-radius: 20px;
        margin: 30px auto;
        box-shadow: 0 5px 15px #bfbfbf;
        position: relative;
        cursor: pointer;
    }

    &_container:hover{
        background-color:#f1eafb ;
    }

    &_number{
        font-size: 12px;
        width: 24px;
        height: 24px;
        border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #9356dc;
        color: white;
        position: absolute;
        left: -15px;
    }

    &_icone i{
        font-size: 18px;
        width: 35px; 
        height: 30px;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fas:hover{
        color: #9356dc;
    }

    h3{
        margin: 10px;
        font-size: 16px;
    }
}


@media screen and (min-width: 1024px){

    #choix_restaurants h2{
        text-align: center;
    }
    
    .fonctionnement{
        padding-bottom: 5%;
        
        .fonctionnement_fonction{
            display: flex;
            width: 100%;
      
            .fonctionnement_div{
                margin: 2%;
                padding: 0;
    
                p{
                    position: absolute;
                    left: 45%;
                    bottom: 50%;
                }
            
                .fonctionnement_icone{
                    padding: 10% 5% 10% 10%;
                }
            }  
        }
    }
}