.fonctionnement{
    padding-bottom: 10%;
    background-color: white;
    @media screen and (min-width: 1024px){
        padding-bottom: 5%;
    }

    &_title{
        margin: 50px 0 25px 25px;
        @media screen and (min-width: 768px) {
            margin-left: 10%;
        }

        @media screen and (min-width: 1024px) {
            margin-left: 42%;
        }
    }

    &_wrapper{
        @media screen and (min-width: 768px) {
            width: 90%;
            margin: auto;
        }
        @media screen and (min-width: 1024px){
            display: flex;
            width: 100%;
        }
    }
 
    &_container{
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 75px;
        width: 80%;
        background-color: #f2f2f2;
        border-radius: 20px;
        margin: 30px auto;
        box-shadow: 0 5px 15px #bfbfbf;
        position: relative;
        cursor: pointer;

        &:hover{
            transform: scale(1.03);
        }

        @media screen and (min-width: 1024px) {
            margin: 10px;
            padding: 0;
        }
    }

    &_container:hover{
        background-color:#f1eafb ;
    }

    &_number{
        font-size: 12px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #9356dc;
        color: white;
        position: absolute;
        left: -15px;
        @media screen and (min-width: 1024px) {
            position: absolute;
            left: 45%;
            bottom: 85%;    
        }
    }

    &_icone i{
        font-size: 18px;
        width: 35px; 
        height: 30px;
        color: grey;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
            color: #9356dc;
        }

        @media screen and (min-width: 1024px) {
            padding: 10px 5px 10px 10px;
        }
        
    }

    /*.fas:hover{
        color: #9356dc;
    }*/

    h3{
        margin: 10px;
        font-size: 16px;
    }

  
}