#choix_restaurants{
    padding-top: 5%;
    background-color: #f2f2f2;
    padding-bottom: 10%;

    h2{
        margin: 0 0 3% 2%;
    }

    .choix_restaurants_div{
        margin: 0;
    }

    .choix_restaurants_photo{
        border-radius: 20px;
        box-shadow: 0 5px 15px #bfbfbf;
        background-color: white;
        margin: 0 20px 30px 20px;
        position: relative;
    }

   a{
        text-decoration: none;
        color: inherit;
   }

    .choix_restaurants_image{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .choix_restaurants_paragraphe{
        color: #1c635f;
        width: 100px;
        height: 30px;
        text-align: center;
        padding: 4px;
        background-color: #99e2dd;
        margin: 0;
        position: absolute;
        top: 5%;
        right: 2%;
        border-radius: 2px;
    }

    .choix_restaurants_texte{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2%;
    }

    i{
        font-size: 30px;
        position: absolute;
        right: 18px;
    }

    .fas{ 
        background-image: linear-gradient(to top right, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: linear 0.5s ease-in-out;
   

        &:hover {
            opacity: 1;
        }
    }