*{
    margin: 0;
    padding: 0;
}
#choix_restaurants{
    padding-top: 5%;
    background-color: #f2f2f2;
    padding-bottom: 10%;

    h2{
        margin: 20px 0 20px 22px;
    }

    .choix_restaurants--container{
        margin: 0;
    }

    .choix_restaurants--photo{
        border-radius: 20px;
        box-shadow: 0 5px 15px #bfbfbf;
        background-color: white;
        margin: 0 20px 30px 20px;
        position: relative;
    }

   a{
        text-decoration: none;
        color: inherit;
   }

    .choix_restaurants--image{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .choix_restaurants--paragraphe{
        color: #1c635f;
        width: 100px;
        height: 22px;
        text-align: center;
        padding: 4px;
        background-color: #99e2dd;
        margin: 0;
        position: absolute;
        top: 5%;
        right: 2%;
        border-radius: 2px;
    }

    .choix_restaurants--texte{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    i{
        font-size: 25px;
        position: absolute;
        right: 25px;
        bottom: 20px;
    }

    .fas{ 
        background-image: linear-gradient(to top right, #ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: linear 0.5s ease-in-out;
   

        &:hover {
            opacity: 1;
        }
    }

    @media screen and (min-width: 768px){
    
        .choix_restaurants_idees{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            .choix_restaurants_photo{
            width: 330px;
            }
        }
    }
    
}